# Git
.git
.gitignore

# Docker
.docker

# Python
ecommerce/__pycache__/
ecommerce/*/__pycache__/
ecommerce/*/*/__pycache__/
ecommerce/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/